# Dependencias
node_modules/

# Entornos y variables secretas
.env
.env.*
!.env.example

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Carpetas de builds y compilación
dist/
build/
coverage/
